[user]
	name = Conor Rafferty
	email = conor.rafferty@salesforce.com
	signingkey = D958A039DDF69A92

[color]
    ui = auto
	status = always
[color "branch"]
    current = red bold
    local = cyan
    remote = magenta
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
	added = yellow
    changed = green
    untracked = cyan
	branch = red bold

[core]
    editor = vim
	autoclrf = input
	safeclrf = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
    a = add
    b = branch
    c = commit
    d = diff
    l = log --graph --decorate --stat --oneline  # shorter log, but with relevant info
    r = restore
    s = status -sb  # shorter status, but with branch name

    ap = add -p  # patch mode
    aa = add -A
    ca = commit -a  # add all files and commit
    cm = commit -m  # commit with message
    cam = commit -am  # add all files and commit with message

    master = !git switch master && git pull --prune  # prune remote branches
    ls = "!f() { git ls-tree -r HEAD --name-only; }; f"  # list all tracked files
    amend = commit --amend  # amend most recent commit
    soft = reset --soft HEAD~1
    unstage = restore --staged
    mpr = merge --no-ff

[pager]
	branch = false
[pull]
	rebase = false
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[credential]
	helper = cache --timeout=86400
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
[init]
	defaultBranch = master
