[user]
	name = Conor Rafferty
	email = craffer@umich.edu
    # TODO: make this an environment variable
	signingkey = 6ED9CECA

[color]
    ui = auto
	status = always
[color "branch"]
    current = red bold
    local = cyan
    remote = magenta
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
	added = yellow
    changed = green
    untracked = cyan
	branch = red bold

[core]
    editor = vim

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
    a = add
    b = branch
    c = commit
    d = diff
    l = log --graph --decorate --stat --oneline  # shorter log, but with relevant info
    s = status -sb  # shorter status, but with branch name

    ap = add -p  # patch mode
    ca = commit -a  # add all files and commit
    cm = commit -m  # commit with message
    cam = commit -am  # add all files and commit with message

    master = !git switch master && git pull --prune  # prune remote branches
    ls = "!f() { git ls-tree -r HEAD --name-only; }; f"  # list all tracked files
    amend = commit --amend  # amend most recent commit
    soft = reset --soft HEAD~1
    unstage = restore --staged

[gpg]
	program = /usr/local/MacGPG2/bin/gpg2

[commit]
	gpgsign = true

[pager]
	branch = false
